{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block body %}
    <section id="central-section" class="bg-light p-5">
        <div class="container jumbotron p-5 img-rounded">

            {{ macros.render_show_movie(movie) }}

            <!-- Trailers -->
            <div class="row mb-4">
                <div class="col">
                    <h2 class="font-weight-bold">Trailers.</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col my-auto img-rounded">
                    <div class="row text-center text-lg-left">
                        <div class="col-lg-3 p-3">
                            <a href="/trailer-player.html" title="See this trailer" class="album-link">
                                <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BOThlNjdhZmQtNzlkOS00M2VjLWI0ZjUtZDExZDI1MjRhZGFkXkEyXkFqcGdeQW1yb3NzZXI@._V1_SP330,330,0,C,0,0,0_CR65,90,200,150_PIimdb-blackband-204-14,TopLeft,0,0_PIimdb-blackband-204-28,BottomLeft,0,1_CR0,0,200,150_PIimdb-bluebutton-big,BottomRight,-1,-1_ZATrailer,4,123,16,196,verdenab,8,255,255,255,1_ZAon%2520IMDb,4,1,14,196,verdenab,7,255,255,255,1_ZA01%253A06,164,1,14,36,verdenab,7,255,255,255,1_PIimdb-HDIconMiniWhite,BottomLeft,4,-2_ZAAvengers%253A%2520Endgame,24,138,14,176,arialbd,7,255,255,255,1_.jpg" alt="Trailer Thumbnail">
                                <p class="text-muted"><small>"Policy" Trailer</small></p>
                            </a>
                        </div>
                        <div class="col-lg-3 p-3">
                            <a href="/trailer-player.html" title="See this trailer" class="album-link">
                                <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BZDBlZjI3YmUtMjgyYi00NjhmLTkzMTgtZTUwYWVlNzdkYzQwXkEyXkFqcGdeQWFsZWxvZw@@._V1_SP330,330,0,C,0,0,0_CR65,90,200,150_PIimdb-blackband-204-14,TopLeft,0,0_PIimdb-blackband-204-28,BottomLeft,0,1_CR0,0,200,150_PIimdb-bluebutton-big,BottomRight,-1,-1_ZAClip,4,123,16,196,verdenab,8,255,255,255,1_ZAon%2520IMDb,4,1,14,196,verdenab,7,255,255,255,1_ZA02%253A56,164,1,14,36,verdenab,7,255,255,255,1_PIimdb-HDIconMiniWhite,BottomLeft,4,-2_ZAAvengers%253A%2520Endgame,24,138,14,176,arialbd,7,255,255,255,1_.jpg" alt="Trailer Thumbnail">
                                <p class="text-muted"><small>"Awesome" TV Spot</small></p>
                            </a>
                        </div>
                        <div class="col-lg-3 p-3">
                            <a href="/trailer-player.html" title="See this trailer" class="album-link">
                                <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BNDgxYzExYzQtYjQ0MC00NTAzLTkxMjctZWVhMDBmMjA1NTVjXkEyXkFqcGdeQW1yb2Njbw@@._V1_SP330,330,0,C,0,0,0_CR65,90,200,150_PIimdb-blackband-204-14,TopLeft,0,0_PIimdb-blackband-204-28,BottomLeft,0,1_CR0,0,200,150_PIimdb-bluebutton-big,BottomRight,-1,-1_ZAVideo,4,123,16,196,verdenab,8,255,255,255,1_ZAon%2520IMDb,4,1,14,196,verdenab,7,255,255,255,1_ZA01%253A40,164,1,14,36,verdenab,7,255,255,255,1_PIimdb-HDIconMiniWhite,BottomLeft,4,-2_ZAAnthony%2520Mackie%2520%2528S3%252EE28%2529,24,138,14,176,arialbd,7,255,255,255,1_.jpg" alt="Trailer Thumbnail">
                                <p class="text-muted"><small>"We Owe It"</small></p>
                            </a>
                        </div>
                        <div class="col-lg-3 p-3">
                            <a href="/trailer-player.html" title="See this trailer" class="album-link">
                                <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BOTM0MTc0NTgtNmZhZS00MjdmLTk4NGEtZjU4OGMzMGY4NWEyXkEyXkFqcGdeQXRyYW5zY29kZS13b3JrZmxvdw@@._V1_SP330,330,0,C,0,0,0_CR65,90,200,150_PIimdb-blackband-204-14,TopLeft,0,0_PIimdb-blackband-204-28,BottomLeft,0,1_CR0,0,200,150_PIimdb-bluebutton-big,BottomRight,-1,-1_ZAVideo,4,123,16,196,verdenab,8,255,255,255,1_ZAon%2520IMDb,4,1,14,196,verdenab,7,255,255,255,1_ZA00%253A31,164,1,14,36,verdenab,7,255,255,255,1_PIimdb-HDIconMiniWhite,BottomLeft,4,-2_ZAAvengers%253A%2520Endgame,24,138,14,176,arialbd,7,255,255,255,1_.jpg" alt="Trailer Thumbnail">
                                <p class="text-muted"><small>"Found" TV Spot</small></p>
                            </a>
                        </div>
                        <div class="col-lg-3 p-3">
                            <a href="/trailer-player.html" title="See this trailer" class="album-link">
                                <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BZWJkYjg1OWEtMGZlZS00MjdjLWE5Y2UtYmI3ZTZiNGJjYWRiXkEyXkFqcGdeQW1yb3NzZXI@._V1_SP330,330,0,C,0,0,0_CR65,90,200,150_PIimdb-blackband-204-14,TopLeft,0,0_PIimdb-blackband-204-28,BottomLeft,0,1_CR0,0,200,150_PIimdb-bluebutton-big,BottomRight,-1,-1_ZATrailer,4,123,16,196,verdenab,8,255,255,255,1_ZAon%2520IMDb,4,1,14,196,verdenab,7,255,255,255,1_ZA02%253A30,164,1,14,36,verdenab,7,255,255,255,1_PIimdb-HDIconMiniWhite,BottomLeft,4,-2_ZAAvengers%253A%2520Endgame,24,138,14,176,arialbd,7,255,255,255,1_.jpg" alt="Trailer Thumbnail">
                                <p class="text-muted"><small>"No Mistakes, Kids" TV Spot</small></p>
                            </a>
                        </div>
                        <div class="col-lg-3 p-3">
                            <a href="/trailer-player.html" title="See this trailer" class="album-link">
                                <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BMzgyMmIzODgtZTBiOS00MDg5LWJkYjAtMzJiMWY2NmU1ZTRmXkEyXkFqcGdeQXRyYW5zY29kZS13b3JrZmxvdw@@._V1_SP330,330,0,C,0,0,0_CR65,90,200,150_PIimdb-blackband-204-14,TopLeft,0,0_PIimdb-blackband-204-28,BottomLeft,0,1_CR0,0,200,150_PIimdb-bluebutton-big,BottomRight,-1,-1_ZAVideo,4,123,16,196,verdenab,8,255,255,255,1_ZAon%2520IMDb,4,1,14,196,verdenab,7,255,255,255,1_ZA00%253A57,164,1,14,36,verdenab,7,255,255,255,1_PIimdb-HDIconMiniWhite,BottomLeft,4,-2_ZARicky%2520Whittle%2520%2528S3%252EE14%2529,24,138,14,176,arialbd,7,255,255,255,1_.jpg" alt="Trailer Thumbnail">
                                <p class="text-muted"><small>"To The End" Trailer</small></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Photos -->
            <div class="row mb-4">
                <div class="col">
                    <h2 class="font-weight-bold">Photos.</h2>
                </div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-md-3 p-1">
                    <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BMTAxMjE0NjAxOTZeQTJeQWpwZ15BbWU4MDQxNTk1OTcz._V1_UX99_CR0,0,99,99_AL_.jpg" alt="Photo Thumbnail">
                </div>
                <div class="col-md-3 p-1">
                    <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BMjQ2NDY5ODg0Ml5BMl5BanBnXkFtZTgwMjk1OTU5NzM@._V1_UY100_CR45,0,100,100_AL_.jpg" alt="Photo Thumbnail">
                </div>
                <div class="col-md-3 p-1">
                    <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BZGE1YzQwNWMtNTk0ZC00NWMxLWJhZjctNDYyNWJhYmM2NGIwXkEyXkFqcGdeQXVyNjg2NjQwMDQ@._V1_UY100_CR45,0,100,100_AL_.jpg" alt="Photo Thumbnail">
                </div>
                <div class="col-md-3 p-1">
                    <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BOWQ0NmJlN2QtOTVjNi00YTY3LWE0MDUtOTlhMWFkZTA1MjExXkEyXkFqcGdeQXVyNjg2NjQwMDQ@._V1_UY100_CR45,0,100,100_AL_.jpg" alt="Photo Thumbnail">
                </div>
                <div class="col-md-3 p-1">
                    <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BMzYxZTEwNWItNjJkNC00MTlmLWIxMjYtYmMxMGQ4NzU5MTY3XkEyXkFqcGdeQXVyNjg2NjQwMDQ@._V1_UY100_CR45,0,100,100_AL_.jpg" alt="Photo Thumbnail">
                </div>
                <div class="col-md-3 p-1">
                    <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BYmFkYTMyMDgtYjA0ZC00MWExLTlhYTgtZDMxOTdmNDczYWEzXkEyXkFqcGdeQXVyNjg2NjQwMDQ@._V1_UX100_CR0,0,100,100_AL_.jpg" alt="Photo Thumbnail">
                </div>
                <div class="col-md-3 p-1">
                    <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BMTgxMjAzNTQ3OV5BMl5BanBnXkFtZTgwMDI4OTM3NzM@._V1_UX100_CR0,0,100,100_AL_.jpg" alt="Photo Thumbnail">
                </div>
                <div class="col-md-3 p-1">
                    <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BYWUzMTJiOTQtNDllZS00M2Q1LWI2NjgtNGQwMmY1ZTczZmVkXkEyXkFqcGdeQXVyNjczOTE0MzM@._V1_UY100_CR69,0,100,100_AL_.jpg" alt="Photo Thumbnail">
                </div>
            </div>

            <!-- User Reviews -->
            <div class="row mb-4">
                <div class="col">
                    <h2 class="font-weight-bold">User Reviews.</h2>
                </div>
            </div>
            <div class="row mb-5 p-3">
                <div class="col img-rounded bg-light">

                    {% for review in movie.reviews %}
                        {{ macros.render_review(review) }}
                    {% endfor %}

                    <div class="row p-3">
                        <p>
                            <a href="#" title="Click and see all comments"><small class="font-weight-bold">See all comments >></small></a>
                            <br>
                            <a href="#" title="Post a review"><small class="font-weight-bold">Log in if you want to post a review !</small></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}